#!/usr/bin/env xdg-open
[Desktop Entry]
Name=云桌面客户端
Exec=/usr/bin/cdos-desktop-cloud
Icon=taskbar.png
Terminal=false
Type=Application
Categories=System;
